# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Static files
staticfiles/


# Secret key
*.secret

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Dependency directories
venv/
env/
*/venv/
*/env/

# Compiled Python files
*.pyc

# Mac OS files
.DS_Store
