{% extends "base.html" %}
{% load static %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block body %}
{% include "navbar.html" %}



<div class="container mt-5">
	<h4 class="card-title mt-3 text-center">Train Me</h4>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center vh-60">

	<div class=" text-center">
		<div class="card-body">
			<h3 class="mt-3">Recent Graduates</h3>
			<img src="{% static 'college_logo.jpg' %}" class="img-fluid mt-3 mb-3" alt="College Logo">
			<div class="mt-3">

				{% if user.is_authenticated %}
					<a class="btn btn-outline-primary" href="/start"> Start readiness’s test? </a>
				{% else %}
					<a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
				{% endif %}

				<!-- <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a> -->
			</div>
		</div>
	</div>
</div>

{% endblock %}