
{% load static %}
{% if user.is_authenticated %}
<div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a href="{% url 'home' %}" ><img width="80px" src="{% static 'ai.png' %}" class="img-fluid" alt="AI Image"></a>
		<h3 class="navbar-brand w-100">Logged in as {{ user.get_username }} </h3>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <button class="btn btn-outline-primary my-2 my-sm-0" onclick="location.href='/logout'">Logout</button>
	  </div>
	</nav>
</div>
{% else %}
<div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a href="{% url 'home' %}" ><img width="80px" src="{% static 'ai.png' %}" class="img-fluid" alt="AI Image"></a>
	  <h3 class="navbar-brand w-100">Please Login </h3>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <button class="btn btn-outline-primary my-2 my-sm-0 mr-2" onclick="location.href='/login'">Login</button>
		  <button class="btn btn-outline-primary my-2 my-sm-0" onclick="location.href='/signup'">Signup</button>
	  </div>
	</nav>
</div>

{% endif %}
